<!DOCTYPE html>
<html>

<head>
   <meta charset="ISO-8859-1">
   <title>Earthquake Data</title>
</head>
 <body>
   <form id="form" method="GET" action="http://localhost:8080/earthquakedata">
       <label for="city">Enter city name:</label>
       <input id="city" type="text" name="city">
       <label for="orderby">Order By :</label>
		<select name="orderby" id="orderby">
 			<option value="time">time</option>
 			<option value="time-asc">time-asc</option>
 			<option value="magnitude">magnitude</option>
 			<option value="magnitude-asc">magnitude-asc</option>
		</select>
       <input id="search-btn" type="submit" value="Submit">
   </form>
 </body>
</html>


